body {
    font-family: 'Open Sans', sans-serif;
}

.section {
    height: 100vh;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-title {
    background: url("./img/bg-image-main-screen.jpg") no-repeat center top / cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

}

.nav-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.navigation-list {
    display: flex;
}

.navigation-list li {
    margin: 0 20px;
}

.header-links{
    width: 80px;
    display: flex;
    justify-content: space-between;
}
