.container{
    margin: 155px auto 0;
    width: 404px;
    border: 1px solid black;
    padding: 30px 40px;
    font-family: Ubuntu, sans-serif;
    box-sizing: border-box;
}

.form-heading {
    font-size: 20px;
}

.buttonset {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btn {
    width: 160px;
    padding: 16px 0;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 16px;
}

.btn-red {
    background-color: #DF4A32;
}

.btn-blue {
    background-color: #305DB8;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}

.input {
    padding: 16px 0 16px 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    margin-bottom: 15px;
    transition: all 300ms;
    outline: none;
}

.input:last-of-type {
    margin-bottom: 30px;
}

.btn-fullwidth {
    width: 100%;
}

.btn-green {
    background-color: rgba(60, 184, 120, 0.8);
}


.input:focus {
    border-color: transparent;
    outline: none;
    /*border: none;*/
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}





