.wrapper {
    background: url("./img/background 1.png") no-repeat center top / cover;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

.header {
    /*padding-bottom: 18px;*/
    /*padding-top: 50px;*/
    padding: 50px 0 18px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #ffffff;
    display: flex;
}

.logo-img {
    background-image: url("./img/logo-hover.png");
    width: 53px;
    height: 47px;
}

.logo-text {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 8px;
}

.logo-text-big {
    font-size: 29px;
}

.logo-text-small {
    font-size: 18px;
}

.contacts {
    text-align: right;
}

.contacts-link {
    color: #ffffff;
    display: block;
    text-decoration: none;
    transition: color 500ms;
}

.contacts-link:hover{
    color: #F26522;
}

.contacts-link:nth-child(1) {
/*.contacts-link:first-child {*/
    margin-bottom: 18px;
}

.logo:hover .logo-img {
    background-image: url("./img/logo.png");
}

.logo:hover .logo-text {
    color: #F26522;
}
.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item {
    margin-bottom: 37px;
}

.service-link {
    color: #ffffff;
    text-decoration: none;
}

.image-wrapper {
    position: relative;
}

.image {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

.overlay {
    transition: opacity 220ms ;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    top: 0;
    left: 0;
}

.service-text {
    text-align: center;
    padding-top: 20px;
}

.service-item:hover .overlay {
    opacity: 0.7;
}

.footer {
    padding: 15px 0;
    text-align: center;
    color: #ffffff;
}




